node_modules
vendor
storage/*.zip
storage/app/temp/*
storage/app/projects/*
storage/logs/*.log
.git
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
*.core
*.zip
*.tar.gz
